@import 'center';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header{
    background-color: black;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // align-items: center;
    ul{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        li{
            font-size: 2rem;
            margin: .5rem;
            
        }
    }
}

// .footer{
//     @include center;
//     background-color: black;
//     width: 100%;
//     position: fixed;
//     bottom: 0;
//     p{
//         font-size: 1.5rem;
//         color: #f2f2f2;
//         margin: .5rem;
//     }
// }

.toggle{
    display: none;
    
    button{
        width: 5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 1rem;
        border: .2rem solid rgb(0,200,0);
        color: tomato;
        text-transform: uppercase;
    }
}

@media screen and (max-width : 750px) {
    .toggle{
        display: block;
        display: flex;
        height: 5rem;
        align-items: center;
    }
    .header ul{
        display: none;
    }
    
    .mobile ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
    
    }
}